<section>

    {{#each products as |product|}}
    <div class="card text-center mb-5">
        <div class="card-header">
            <img src="{{url_link}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p>$ {{price}}</p>
            <a href="/product/{{id}}" class="btn btn-primary">Go to Product Details</a>
        </div>
    </div>
    {{/each}}

</section>